@using System.Data
@model DataTable

<div class="col-md-12">
    <div class="row">
        <div class="col-md-10">
            <h3>City List</h3>
        </div>
        <div class="col-md-2">
            <a asp-controller="LOC_City" asp-action="Add" class="btn btn-success btn-sm">Add City</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            @*<th scope="col">CityID</th>*@
            <th scope="col">CityName</th>
            <th scope="col">PinCode</th>
            <th scope="col">CountryName</th>
            <th scope="col">StateName</th>
            <th scope="col">CreationDate</th>
            <th scope="col">Modification</th>
            <th scope="col" colspan="2" class="text-center">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @*<th scope="row">@dr["CityID"]</th>*@
                <td>@dr["CityName"]</td>
                <td>@dr["PinCode"]</td>
                <td>@dr["CountryName"]</td>
                <td>@dr["StateName"]</td>
                <td>@dr["CreationDate"]</td>
                <td>@dr["Modification"]</td>
                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["Modification"]).ToString("dd-MM-yyyy")</td>
                <td>
                    <form method="post" asp-controller="LOC_City" asp-action="Delete">
                        <input type="hidden" name="CityID" value="@Convert.ToInt32(dr["CityID"])" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm ('Are you sure you want to delete : @dr["CityName"]')">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-controller="LOC_City" asp-action="Add">
                        <input type="hidden" name="CityID" value="@Convert.ToInt32(dr["CityID"])" />
                        <button type="submit" class="btn btn-success">Edit</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>